# Logs
node_modules/
dist/
venv/
.venv/
__pycache__/

# Environment Variables
.env
.env.*
**/.env
**/.env.*

# Editor files
.vscode/
.idea/
.DS_Store

# Firebase Keys & Secrets
firebaseSdkKey.json
backend/*.json
*.json.bak
!package.json
!composer.json
!tsconfig.json
