aioredis
aiosmtplib
annotated-doc
annotated-types
anyio
async-timeout
blinker
certifi
cffi
charset-normalizer
click
click-default-group
colorama
cryptography
dnspython
email-validator
fakeredis
fastapi
fastapi-mail
h11
httpcore
httpx
idna
Jinja2
joblib
MarkupSafe
numpy
pandas
pluggy
pycparser
pydantic
pydantic-settings
python-dateutil
python-dotenv
python-multipart
redis
regex
requests
scikit-learn
scipy
six
sortedcontainers
sqlite-fts4
sqlite-utils
starlette
tabulate
threadpoolctl
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn

firebase-admin
